@font-face {
    font-family: Roboto-Black;
    font-family: Roboto-Regular;
    src: url('../assets/font/Roboto-Regular.ttf');
    src: url('../assets/font/Roboto-Black.ttf');
}

body{
    margin:0;
    font-family: Roboto-Black;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
    height:600px;
}


//--------------------------- MENU ----------------------------
.menu{

    text-align: center;
    background: #fff;
    font-family: Roboto-Regular;

    transition: .3s ease all ;
    -webkit-transition: .3s ease all ;
    -moz-transition: .3s ease all ;
    -ms-transition: .3s ease all ;
    -o-transition: .3s ease all ;
    
    &.dark{
        background:gray;
        font-family: Roboto-Regular;
        color:white;
    }
}

.menu p{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.menu p:hover{
    cursor: pointer;
    opacity: 0.5;
}

.activo{
    color:#cdcdcd;
}

//--------------------------- TITULO WIDGET ----------------------------
.caja-titulo{
    display: flex;
    font-family: Roboto-Regular;
}

.titulo-widget{
    font-size: 25px;
    font-weight: bold;
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

//--------------------------- SWITCH BOTON ----------------------------
.switch{
    background: #343D5B;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top:0;
        left: 0;
        right: unset;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        transition: .3s ease all;
        -webkit-transition: .3s ease all;
        -moz-transition: .3s ease all;
        -ms-transition: .3s ease all;
        -o-transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
        background: orange;
        color: #000;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}
.caja-switch{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: end;
    margin: 35px;
}

//--------------------------- CAJA WIDGETS ----------------------------

.caja-widgets{
    background: #f2f2f2;
    transition: .3s ease all ;
    -webkit-transition: .3s ease all ;
    -moz-transition: .3s ease all ;
    -ms-transition: .3s ease all ;
    -o-transition: .3s ease all ;
    &.dark{
        background:rgb(29, 29, 29);
        color:white;
    }
}

.widget{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-auto-flow: column;
    border-bottom: 2px solid black;
}

#respuesta{
    padding: 20px;
}

//--------------------------- CONTENIDO WIDGET ----------------------------

.caja-time-city{
    width: 100%;
    align-self: center;
    flex-direction: column;
    display: flex;
    order: 2;
    &.dark{
         font-family: Roboto-Regular; 
    }
}

.city{
    font-size: 25px;
}

.temp{
    order: 4;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    font-size: 30px;
}

.iconoTiempo{
    order:1;
    width: 100%;
}
.icono-tiempo{
    width: 50px;
    margin: 20px;
}

.caja-tempmax-desc{
    order: 3;
    margin-top: 30px;
}

.temp-high, .temp-low{
    display: inline-block;
}


//--------------------------- MEDIA QUERYS ----------------------------
@media screen and  (max-width: 530px) { 

    .container{
        grid-template-columns: 100%;
    }
    .widget{

            grid-template-columns: 25% 25% 25% 25%;
    }

    .city {
        font-size: 15px;
    }
    
    .iconoTiempo{
        display: flex;
    }
    
    .icono-tiempo {
        width: 30px;
        margin: 10px;
    }
}

@media screen and (max-width: 450px){
    .caja-tempmax-desc{

        margin-top: 15px;
    }
}

@media screen and  (max-width: 306px) { 
        .caja-switch{
            margin:35px;
        }

}


