@font-face {
    font-family: Roboto-Black;
    font-family: Roboto-Regular;
    src: url('../assets/font/Roboto-Regular.ttf');
    src: url('../assets/font/Roboto-Black.ttf');
}

body{
    margin:0;
    font-family: Roboto-Black;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 790px;
}


//--------------------------- MENU ----------------------------
.menu{

    text-align: center;
    background: #fff;
    font-family: Roboto-Regular;

    transition: .3s ease all ;
    -webkit-transition: .3s ease all ;
    -moz-transition: .3s ease all ;
    -ms-transition: .3s ease all ;
    -o-transition: .3s ease all ;
    
    &.dark{
        background:gray;
        font-family: Roboto-Regular;
        color:white;
    }
}

.menu p{
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.menu p:hover{
    cursor: pointer;
    opacity: 0.5;
}


.activo{
    color:#cdcdcd;
}

//--------------------------- CAJA-TITULO ----------------------------
.caja-titulo{
    display: flex;
    font-family: Roboto-Regular;
}

.titulo-widget{
    font-size: 25px;
    font-weight: bold;
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

//--------------------------- SWITCH BOTON ----------------------------
.caja-switch{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: end;
    margin: 35px;
}

.switch{
    background: #343D5B;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top:0;
        left: 0;
        right: unset;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        transition: .3s ease all;
        -webkit-transition: .3s ease all;
        -moz-transition: .3s ease all;
        -ms-transition: .3s ease all;
        -o-transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
        background: orange;
        color: #000;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}


//--------------------------- ESTILO WIDGETS----------------------------------------
.caja-widgets{
    background: #f2f2f2;
    transition: .3s ease all ;
    -webkit-transition: .3s ease all ;
    -moz-transition: .3s ease all ;
    -ms-transition: .3s ease all ;
    -o-transition: .3s ease all ;
    &.dark{
        background:rgb(29, 29, 29);
        color:white;
    }
}

#respuesta{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
    align-content: space-evenly;
    justify-content: center;
    grid-template-rows: 300px 300px;
}

.widget{
    margin: 0 auto;
    width: 300px;
    display: grid;
    border-radius: 10px;
    color: white;
}

.renderImg{

    background-position: center top;
    background-size: 100% auto;
}

//--------------------------- ESTILO WIDGETS CONTENIDO----------------------------------------
.caja-time-city{
    margin:20px;
    font-family: Roboto-Black;
}
.city{
    font-size: 25px;
}
.temp{
    font-size: 70px;
    margin-left: 20px;
    font-family: 'Roboto-Black';
}

.iconoTiempo{
    margin-left: 20px;
}

.icono-tiempo{
    width: 30px;
}

.caja-tempmax-desc{
    margin-left: 20px;
    font-family: 'Roboto-Black';
}
.temp-high, .temp-low{
    display: inline-block;
}
//--------------------------- URL DE LAS IMG --------------------------------------
.Valencia{
    background-image: url("../assets/img/valencia.png");

}
.Bilbao{
    background-image: url("../assets/img/bilbao.png");

}
.Barcelona{
    background-image: url("../assets/img/Barcelona.png");

}
.Madrid{
    background-image: url("../assets/img/Madrid.png");

}
    
//--------------------------- MEDIA QUERYS --------------------------------------

@media screen and  (max-width: 818px) { 

    #respuesta{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        grid-template-rows: auto;
    }


}


@media screen and  (max-width: 400px) { 

    .container{
        grid-template-columns: 100%;
    }


}

