@font-face {
  font-family: Roboto-Black;
  font-family: Roboto-Regular;
  src: url("../assets/font/Roboto-Regular.ttf");
  src: url("../assets/font/Roboto-Black.ttf");
}

body {
  margin: 0;
  font-family: Roboto-Black;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  height: 790px;
}

.menu {
  text-align: center;
  background: #fff;
  font-family: Roboto-Regular;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.menu.dark {
  background: gray;
  font-family: Roboto-Regular;
  color: white;
}

.menu p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}

.menu p:hover {
  cursor: pointer;
  opacity: 0.5;
}

.activo {
  color: #cdcdcd;
}

.caja-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto-Regular;
}

.titulo-widget {
  font-size: 25px;
  font-weight: bold;
  width: 50%;
  margin-top: 30px;
  margin-left: 30px;
}

.caja-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  text-align: end;
  margin: 35px;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.caja-widgets {
  background: #f2f2f2;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.caja-widgets.dark {
  background: #1d1d1d;
  color: white;
}

#respuesta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  grid-gap: 20px;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
}

.widget {
  margin: 0 auto;
  width: 300px;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  color: white;
}

.renderImg {
  background-position: center top;
  background-size: 100% auto;
}

.caja-time-city {
  margin: 20px;
  font-family: Roboto-Black;
}

.city {
  font-size: 25px;
}

.temp {
  font-size: 70px;
  margin-left: 20px;
  font-family: 'Roboto-Black';
}

.iconoTiempo {
  margin-left: 20px;
}

.icono-tiempo {
  width: 30px;
}

.caja-tempmax-desc {
  margin-left: 20px;
  font-family: 'Roboto-Black';
}

.temp-high, .temp-low {
  display: inline-block;
}

.Valencia {
  background-image: url("../assets/img/valencia.png");
}

.Bilbao {
  background-image: url("../assets/img/bilbao.png");
}

.Barcelona {
  background-image: url("../assets/img/Barcelona.png");
}

.Madrid {
  background-image: url("../assets/img/Madrid.png");
}

@media screen and (max-width: 818px) {
  #respuesta {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media screen and (max-width: 400px) {
  .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}
/*# sourceMappingURL=hojavis.css.map */