@font-face {
  font-family: Roboto-Black;
  font-family: Roboto-Regular;
  src: url("../assets/font/Roboto-Regular.ttf");
  src: url("../assets/font/Roboto-Black.ttf");
}

body {
  margin: 0;
  font-family: Roboto-Black;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  height: 600px;
}

.menu {
  text-align: center;
  background: #fff;
  font-family: Roboto-Regular;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.menu.dark {
  background: gray;
  font-family: Roboto-Regular;
  color: white;
}

.menu p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}

.menu p:hover {
  cursor: pointer;
  opacity: 0.5;
}

.activo {
  color: #cdcdcd;
}

.caja-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto-Regular;
}

.titulo-widget {
  font-size: 25px;
  font-weight: bold;
  width: 50%;
  margin-top: 30px;
  margin-left: 30px;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.caja-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  text-align: end;
  margin: 35px;
}

.caja-widgets {
  background: #f2f2f2;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.caja-widgets.dark {
  background: #1d1d1d;
  color: white;
}

.widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 30% 30% 20%;
      grid-template-columns: 20% 30% 30% 20%;
  grid-auto-flow: column;
  border-bottom: 2px solid black;
}

#respuesta {
  padding: 20px;
}

.caja-time-city {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.caja-time-city.dark {
  font-family: Roboto-Regular;
}

.city {
  font-size: 25px;
}

.temp {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 30px;
}

.iconoTiempo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}

.icono-tiempo {
  width: 50px;
  margin: 20px;
}

.caja-tempmax-desc {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 30px;
}

.temp-high, .temp-low {
  display: inline-block;
}

@media screen and (max-width: 530px) {
  .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .widget {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  .city {
    font-size: 15px;
  }
  .iconoTiempo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .icono-tiempo {
    width: 30px;
    margin: 10px;
  }
}

@media screen and (max-width: 450px) {
  .caja-tempmax-desc {
    margin-top: 15px;
  }
}

@media screen and (max-width: 306px) {
  .caja-switch {
    margin: 35px;
  }
}
/*# sourceMappingURL=hojalis.css.map */